<!DOCTYPE html>
<!-- Anower Perves -->
<!-- Software Engineer -->
<!-- www.anowerperves.com -->

<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="refresh" content="60">
  {% load static %}
  <link rel="shortcut icon" href="{% static "favicon.ico" %}"/>
  <title>admina | An open-source administration tool for Apache Cassandra</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static "dist/css/font-awesome.min.css" %}">
  <!-- Ionicons -->
  <link rel="stylesheet" href="{% static "dist/css/ionicons.min.css" %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static "dist/css/admina.min.css" %}">
  <!-- admina Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="{% static "dist/css/skins/_all-skins.min.css" %}"> 
  <!-- <link rel="stylesheet" href="{% static "dist/css/skins/skin-blue.css" %}"> -->
  <!-- iCheck -->
  <link rel="stylesheet" href="{% static "plugins/iCheck/flat/blue.css" %}">
  <!-- bootstrap wysihtml5 - text editor -->
  <link rel="stylesheet" href="{% static "plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" %}">

</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="#" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><img src="{% static "dist/img/a.png" %}" class="user-image" alt="User Image" height="50px" width="50px"></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>admin</b>a</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="{% static "dist/img/aa.png" %}" class="user-image" alt="User Image">
              <span class="hidden-xs">Admin</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="{% static "dist/img/aa.png" %}" class="img-circle" alt="User Image">
                <p>
                  Admin - admina
                </p>
              </li>
              <!-- Menu Body -->
              <li class="user-footer">
                <div class="pull-right">
                  <a href="#" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header"></li>
        <li class="active treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          </a>
        </li>
        <li class="header">STATUS</li>
	<!--
        <li><a href="#direct-chat-messages"><i class="fa fa-ban text-red"></i> <span>Errors</span></a></li>
        <li><a href="#direct-chat-msg"><i class="fa fa-warning text-yellow"></i> <span>Warnings</span></a></li>
        <li><a href="#"><i class="fa fa-info text-aqua"></i> <span>Information</span></a></li> 
	-->
        <li>
           <a href="#"><span>TOTAL NODE</span>
           <span class="pull-right-container">
              <small class="label pull-right bg-aqua">{{ node_count }}</small>
            </span>
           </a>
        </li>
	<li>
           <a href="#"><span>LIVE NODE</span>
           <span class="pull-right-container">
              <small class="label pull-right bg-green">{{ up_node }}</small>
            </span>
           </a>
        </li>
        <li>
	   <a href="#"><span>SYSTEM LOG</span>
	   <span class="pull-right-container">
              <small class="label pull-right bg-yellow">{{ warn_log }}</small>
              <small class="label pull-right bg-red">{{ error_log }}</small>
            </span>
	   </a>
	</li>
	<li class="header">ADMINISTRATION</li>
	<li>
           <a href="#"><span>REPAIR</span></a>
        </li>
        <li>
           <a href="{% static "pages/restart.html" %}"><span>RESTART</span></a>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {{ cluster_name }}
        <small>(Cassandra {{ version }})</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-light-blue">
            <div class="inner">
              <h3>{{ node_count }}</h3>

              <p>Nodes</p>
            </div>
            <div class="icon">
              <i class="fa fa-circle-o"></i>
            </div>
            <a href="#" class="small-box-footer"><i class="fa fa-arrow-circle-right"></i>  Number of total node(s)</a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-light-blue">
            <div class="inner">
              <h3>{{ data_size }}<sup style="font-size: 20px">{{data_param}}</sup></h3>

              <p>Data</p>
            </div>
            <div class="icon">
              <i class="fa fa-database"></i>
            </div>
            <a href="#" class="small-box-footer"><i class="fa fa-arrow-circle-right"></i>  Total data load of this cluster</a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-light-blue">
            <div class="inner">
              <h3>{{ warn_log }}</h3>

              <p>Warnings</p>
            </div>
            <div class="icon">
              <i class="fa fa-warning"></i>
            </div>
            <a href="#" class="small-box-footer"><i class="fa fa-arrow-circle-right"></i>  Total warning of the node</a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-light-blue">
            <div class="inner">
              <h3>{{ error_log }}</h3>

              <p>Errors</p>
            </div>
            <div class="icon">
              <i class="fa fa-ban"></i>
            </div>
            <a href="#" class="small-box-footer"><i class="fa fa-arrow-circle-right"></i>  Total error of the node</a>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->
      <!-- Main row -->
      <div class="row">
      </div>
      <!-- /.row (main row) -->

    <!-- /.content -->
	<div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-check"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Up Node(s)</span>
              <span class="info-box-number">{{up_node}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-close"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Down Node(s)</span>
              <span class="info-box-number">{{down_node}}</span>
              <span class="info-box-text">{{down_node_list}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
      </div>
      <!-- /.row -->
	<div class="col-md-12">
              <!-- ERROR Log -->
              <div class="box box-warning direct-chat direct-chat-warning collapsed-box">
                <div class="box-header with-border">
                  <h3 class="box-title">{{ error_log  }} Error(s)</h3>

                  <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                    </button>
                  </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <div class="direct-chat-messages">
                    <!-- Message. Default to the left -->
                    <div class="direct-chat-msg">
		      <p class="message">{{ error_message }}</p> 
                    </div>
                    <!-- /.direct-chat-msg -->
                  </div>		

                </div>
              </div>
              <!--/.direct-chat -->
            </div>

	<div class="col-md-12">
              <!-- WARN Log -->
              <div class="box box-warning direct-chat direct-chat-warning collapsed-box">
                <div class="box-header with-border">
                  <h3 class="box-title">{{ warn_log  }} Warning(s)</h3>

                  <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                    </button>
                  </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <div class="direct-chat-messages">
                    <!-- Message. Default to the left -->
                    <div class="direct-chat-msg">
                      <p class="message">{{ warn_message }}</p> 
                    </div>
                    <!-- /.direct-chat-msg -->
                  </div>

                </div>
              </div>
              <!--/.direct-chat -->
            </div>

	</section>
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.0.0
    </div>
    <strong>Copyright &copy; 2018 <a href="#">Anower Perves</a>.</strong> All rights
    reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li><a href="#"><i class="fa fa-wrench"> Dashboard Settings</i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane" id="control-sidebar-home-tab">

      </div>
      <!-- /.tab-pane -->
      <!-- Stats tab content -->
      <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
      <!-- /.tab-pane -->
      <!-- Settings tab content -->
      <!-- /.tab-pane -->
    </div>
  </aside>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 2.2.3 -->
<script src="{% static "plugins/jQuery/jquery-2.2.3.min.js" %}"></script>
<!-- jQuery UI 1.11.4 -->
<script src="{% static "plugins/jQuery/jquery-ui.min.js" %}"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>
<!-- Bootstrap 3.3.6 -->
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="{% static "plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js" %}"></script>
<!-- Slimscroll -->
<script src="{% static "plugins/slimScroll/jquery.slimscroll.min.js" %}"></script>
<!-- FastClick -->
<script src="{% static "plugins/fastclick/fastclick.js" %}"></script>
<!-- Template App -->
<script src="{% static "dist/js/app.min.js" %}"></script>
<!-- Tempalte dashboard demo (This is only for demo purposes) -->
<script src="{% static "dist/js/pages/dashboard.js" %}"></script>
<!-- Template for demo purposes -->
<script src="{% static "dist/js/demo.js" %}"></script>
</body>
</html>
